<!DOCTYPE html>
<html>
  <head>
    <title>Receptionist</title>
    <link rel="stylesheet" type="text/css" href="Receptionist.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7CPT+Serif:400,700,400italic"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="bgimage">
      <div class="menu">
        <div class="leftmenu">
          <h3><a href="Receptionist.html">Receptionist</a></h3>
        </div>
        <div class="rightmenu">
          <ul>
            <li><a href="ReceptionistProfile.html">My Profile</a></li>
            <li><a href="AdmitPatient.html">Admit Patient</a></li>
            <li><a href="PatientRequest.html">Patient Request</a></li>
            <li><a href="RoomAvailable.html">Room Available</a></li>
            <li><a href="AllDocTime.html">Doctor & Time</a></li>
            <li><a href="SignupDoc.html">Sign-Up Doctor</a></li>
          </ul>
        </div>
      </div>
	</div>
  </body>
</html>